%header
  %h1 Welcome,
  %h2 create your shipping label


= form_for :label, url: {controller: 'labels', action: 'create'}, html: {class: 'labels'} do |f|

  .sender.label
    %ul
      %li
      =f.label :sender_name
      =f.text_field :sender_name

      %li
      =f.label :sender_street1
      =f.text_field :sender_street1

      %li
      =f.label :sender_street2
      =f.text_field :sender_street2

      %li
      =f.label :sender_city
      =f.text_field :sender_city

      %li
      =f.label :sender_state
      =f.text_field :sender_state

      %li
      =f.label :sender_zip
      =f.text_field :sender_zip


  .recipient.label
    %ul
      %li
      =f.label :recipient_name
      =f.text_field :recipient_name

      %li
      =f.label :recipient_street1
      =f.text_field :recipient_street1

      %li
      =f.label :recipient_street2
      =f.text_field :recipient_street2

      %li
      =f.label :recipient_city
      =f.text_field :recipient_city

      %li
      =f.label :recipient_state
      =f.text_field :recipient_state

      %li
      =f.label :recipient_zip
      =f.text_field :recipient_zip


  .dimensions.label
    %ul
      %li
      =f.label :width
      =f.text_field :width

      %li
      =f.label :length
      =f.text_field :length

      %li
      =f.label :height
      =f.text_field :height

      %li
      =f.label :weight
      =f.text_field :weight


  .submit
    =f.submit



